@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-hover:hover {
  transform: translateY(-4px);
  transition: transform 0.3s ease;
}

.inner-dashed-border {
  background:
    linear-gradient(90deg, #b89b4f 50%, transparent 50%) repeat-x,
    linear-gradient(90deg, #b89b4f 50%, transparent 50%) repeat-x,
    linear-gradient(0deg, #b89b4f 50%, transparent 50%) repeat-y,
    linear-gradient(0deg, #b89b4f 50%, transparent 50%) repeat-y;
  background-size:
    10px 2px,
    10px 2px,
    2px 10px,
    2px 10px;
  background-position:
    0 0,
    0 100%,
    0 0,
    100% 0;
  animation: innerBorderMove 8s linear infinite;
  border-radius: 0.75rem;
}

@keyframes innerBorderMove {
  100% {
    background-position:
      160px 0,
      -160px 100%,
      0 -160px,
      100% 160px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes softGlow {
  0%,
  100% {
    box-shadow: 0 0 6px rgba(201, 164, 76, 0.6);
  }
  50% {
    box-shadow: 0 0 14px rgba(201, 164, 76, 1);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideUpFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUpFromBottom 0.45s ease-out forwards;
}
body.login-open {
  overflow: hidden;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}
